<figure class="postThumbnail postThumbnail--p" data-post-id="<%= post._id %>">
  <a class="postThumbnail-link" href="<%- url_for(post.path) %>">
    <img src="<%= theme.image_path + date(post.date, 'YYYY') + '--' + post.title + theme.image_type %>">
  </a>
</figure>

<figure class="postThumbnail postThumbnail--n" data-post-id="<%= post._id %>">
  <a class="postThumbnail-link" href="<%- url_for(post.path) %>">
    <img src="<%= theme.image_path + date(post.date, 'YYYY') + '--' + post.title + 'n' + theme.image_type %>">
  </a>
</figure>
